
@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Start/Index.cshtml";
}


<section class="menu-filter">
    <div class="filter">
        <select>
            <option>Pizzalar</option>
            <option>Hamburger </option>
            <option>Dürüm  </option>
            <option>Tost</option>
        </select>
    </div>
</section>
<div class="box-container menu">


    <h1 class="heading">EN İYİ <span>MENÜ</span></h1>
    <div class="menu-list-container">
        <ul class="movie-list">

            <div class="box-container">
                <ul class="menu-list">
                    <li class="box">

                        <div class="box-head">


                            <img src="~/MarketAppDesktop/images/menu-1.png" alt="menu" />
                            <span class="menu-category">PIZZA</span>
                            <h3>6'lı Mini Pizallar</h3>
                            <div class="price">₺104.99 <span>119.99</span></div>
                        </div>
                        <div class="box-bottom">
                            <a href="#" class="btn">Sepete Ekle</a>
                        </div>
                    </li>
                    <li class="box">
                        <div class="box-head">
                            <img src="~/MarketAppDesktop/images/menu-2.png" alt="menu" />
                            <span class="menu-category">BURGER</span>
                            <h3>5 Tane Mini BURGER</h3>
                            <div class="price">₺99.99 <span>109.99</span></div>
                        </div>
                        <div class="box-bottom">
                            <a href="#" class="btn">Sepete Ekle</a>
                        </div>
                    </li>

                    <li class="box">
                        <div class="box-head">
                            <img src="~/MarketAppDesktop/images/menu-3.png" alt="menu" />
                            <span class="menu-category">PIZZA</span>
                            <h3>2 Tane Karışık PIZZA</h3>
                            <div class="price">₺49.99 <span>59.99</span></div>
                        </div>
                        <div class="box-bottom">
                            <a href="#" class="btn">Sepete Ekle</a>
                        </div>
                    </li>
                    <li class="box">
                        <div class="box-head">
                            <img src="~/MarketAppDesktop/images/menu-4.png" alt="menu" />
                            <span class="menu-category">BURGER</span>
                            <h3>3 Meatball Burgers</h3>
                            <div class="price">₺79.99 <span>89.99</span></div>
                        </div>
                        <div class="box-bottom">
                            <a href="#" class="btn">Sepete Ekle</a>
                        </div>
                    </li>
                </ul>


            </div>
    </div>
    </ul>
</div>